/* #first-heading { 
    color:lightgreen;
    font-size: 100px;
}
 # là id 
. là class 
.second-heading{
    color: green;
    font-size: 50px
} */
/* baif 5 Đặt biến global , tạo root giả trong css */
:root {
    --text-color:red;
}
h1 {
    --my-color:green;
    color: var(--my-color);

}
h2 {
    color:var(--text-color);

}
h3 {
    color: var(--text-color);
}
